.ant-notification-notice-with-icon{
  display: flex;
  align-items: center;
}

.ant-notification-notice-message{
  margin-bottom: 0 !important;
  font-family: Inter, sans-serif;
  font-size: 18px;
}

.ant-notification-notice-close {
  top: 50% !important;
  transform: translate(0, -50%);
}

.ant-notification-close-x{
  width: 14px;
  height: 14px;

  span {
    display: flex;
  }
}
