.banner-swiper{
  .swiper-button-next, .swiper-button-prev{
    color: #b4c7e7;

    &:hover {
      color: #ffffff;
    }
  }

  .swiper-pagination-bullet{
    width: 15px;
    height: 15px;
    border: 2px solid #b4c7e7;
    background-color: #1b3764;
    opacity: 1;

    &:hover {
      background-color: #b4c7e7;
    }

    &-active{
      border-color: #ffffff;
      background-color: #ffffff;

      &:hover {
        border-color: #b4c7e7;
      }
    }
  }

  .book-cover__wrap{
    img{
      border: 8px solid #ffffff;
    }
  }
}




