:global(.ant-form):global(.login-form) {
  :global(.ant-form-item) {
    margin-bottom: 22px;

    :global(.ant-form-item-label) {
      padding-bottom: 0;

      label {
        display: inline;
        padding-left: 15px;
        font-size: 16px;
      }

      :global(.ant-form-item-required) {
        padding-left: 4px;
      }
    }

    :global(.ant-form-item-has-error) {
      :global(.ant-form-item-explain) {
        :global(.ant-form-item-explain-error) {
          font-family: Inter, sans-serif;
        }
      }
    }

    :global(.ant-form-item-control) {
      :global(.ant-form-item-control-input-content) {
        input {
          padding-left: 15px;
          border-radius: 0;
          font-family: Inter, sans-serif;
        }

        :global(.ant-input-password) {
          border-radius: 0;

          input {
            padding-left: 4px;
          }
        }
      }
    }
  }

  :global(.buttons-bar) {
    :global(.ant-form-item) {
      width: calc(50% - 10px);
      margin-bottom: 0;

      :global(.ant-form-item-control-input-content) {
        button {
          width: 100%;
          min-height: 40px;
          border-radius: 0;
          background-color: #1677ff;
          font-family: Inter, sans-serif;
          font-size: 16px;

          &:hover {
            background-color: #4096ff;
          }
        }
      }
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: calc(50% - 10px);
      border: 1px solid #1677ff;
      font-family: Inter, sans-serif;
      font-size: 16px;
      color: #1677ff;
      transition: none;

      &:hover {
        border: none;
        background-color: #4096ff;
        color: #ffffff;
      }
    }
  }
}
